<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MediLink Signup</title>
 <link rel="stylesheet" href="getDoctInfo.css">
</head>
<body>
  <div class="container">
    <div class="info-section">
    <img src="/MediLink-.png" alt="MediLink Logo" style="width: 300px; height: auto;">
      <h2>Let's get started</h2>
      <p>MediLink makes it simple for patients to connect with the right doctors. It’s quick to join, with no hidden fees or complicated steps.</p>
    </div>

    <div class="form-section">
      <form method="post" action="/CompInfo">
        <label for="first-name">First name</label>
        <input type="text" id="first-name" name="first-name">
         
        <label for="last-name">Last name</label>
        <input type="text" id="last-name" name="last-name">

        <label for="practice-name">Clinic name</label>
        <input type="text" id="practice-name" name="practice-name">

        <label for="specialty">Practice or provider's specialty</label>
        <select id="specialty" name="specialty">
          <option>Select</option>
        </select>

        <label for="size">Practice size</label>
        <select id="size" name="size">
          <option>Select</option>
        </select>

        <label for="phone">Phone number</label>
        <input type="tel" id="phone" name="phone">

       <br><br>
        <label for="compAdd">Enter Company address</label>
        <input type="text" id="compAdd" name="compAdd">
        <div class="curLoc" >
         Use current Location 
        </div>
        <br>
        
        
              <button type="submit">Register</button>
      </form>
    </div>
  </div>

</body>
<script>
   window.APP_CONFIG = {
    googleMapsApiKey: '<%= GMapAPIkey %>',
    // You can add more config values here
  };
</script>
<script src="/getDoctInfo.js"> </script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=GMapAPIkey %>&callback=initMap&v=weekly"></script>
    
</html>